.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.App nav ul li a {
  text-decoration: none;
  cursor: pointer;
}

.App .navBar {
  background-color: #282c34;
  color: #ffffff;
}

.App .navBar nav ul {
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  width: fit-content;
}

.App .navBar nav ul li {
  display: flex;
}

.App .navBar nav ul li a {
  color: #ffffff;
  font-weight: bold;
  padding: 24px 16px;
  border: 1px solid transparent;
}

.App .navBar ul li a {
  background-color: #282c34;
  color: #ffffff;
}

.App .navBar nav ul li a.activeLink {
  border: 1px solid white;
}

.App .navBar nav ul li a:hover {
  background-color: #3f4550;
}

.App nav.channels {
  width: fit-content;
  margin: 0 auto;
}

.App nav ul li.channelInfoBox a {
  padding: 16px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
}

.App nav ul li.channelInfoBox a {
  color: #777;
}

.App nav ul li.channelInfoBox:hover {
  background-color: #eee;
}

.App nav ul li.channelInfoBox:hover a {
  color: #555;
}