.App {
  text-align: center;

  nav {
    &.channels {
      width: fit-content;
      margin: 0 auto;

      .addChannelButton {
        padding: 16px;
        margin: 16px 0;
        background-color: green;
        border-radius: 4px;
        color: white;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: darkgreen;
        }
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        &.channelInfoBox a {
          margin: 8px 0 0 0;
          padding: 16px;
          border: 1px solid transparent;
          display: flex;
          flex-direction: column;
          background-color: #f1f1f1;
          color: #777;
        }

        &.channelInfoBox:hover a {
          background-color: #ddd;
          color: #555;
        }

        &.channelInfoBox:first-of-type a {
          margin: 0;
        }

        a {
          text-decoration: none;
          cursor: pointer;
        }
      }
      
      .App nav ul li.channelInfoBox .channelName {
        font-size: calc(16px + 2vmin);
        font-weight: bold;
      }
    }
  }

  .navBar {
    background-color: #282c34;
    color: #ffffff;
    margin-bottom: 16px;

    nav ul {
      margin: 0 auto;
      padding: 16px 0;
      display: flex;
      width: fit-content;

      li {
        display: flex;

        a {
          background-color: #282c34;
          color: #ffffff;
          font-weight: bold;
          padding: 24px 16px;
          border: 1px solid transparent;

          &.activeLink {
            border: 1px solid white;
          }

          &:hover {
            background-color: #3f4550;
          }
        }
      }
    }
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* Channel Downloader Modal Contents */

.channelDownloaderModalContents {
  & > div,
  & > h2 {
    padding: 16px;
    margin: 0;
  }

  & > div {
    padding: 32px;
  }

  hr {
    margin: 0;
  }

  .channelDownloadSelector {
    display: flex;
    align-items: center;

    .channelDownloadSelectorInput {
      margin: 0 8px;
      padding: 4px;
    }

    .channelDownloadSelectorButton {
      display: inline-block;
      cursor: pointer;
      background-color: green;
      color: white;
      border-radius: 4px;
      padding: 4px 8px;

      &:hover {
        background-color: darkgreen;
      }
    }
  }
}
