.App {
  text-align: center;

  a {
    text-decoration: none;
  }

  nav {
    &.tile-container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .utilities {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        label {
          font-weight: bold;
          input.filter {
            margin-left: 8px;
            height: 24px;
            width: 178px;
          }
        }

        .addButton {
          padding: 16px;
          margin: 16px 0;
          background-color: green;
          border-radius: 4px;
          color: white;
          font-weight: bold;
          cursor: pointer;
          width: fit-content;
  
          &:hover {
            background-color: darkgreen;
          }
        }
      }

      div.tiles {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
  
        div.tile {
          background-color: #f1f1f1;
          color: #777;
          margin: 8px;
          border: 1px solid transparent;
          width: fit-content;

          &:hover {
            background-color: #ddd;
            color: #555;
          }

          a {
            padding: 16px;
            display: flex;
            flex-direction: column;
            color: inherit;
            cursor: pointer;
          }
        }
        
        .title {
          font-size: calc(10px + 2vmin);
          font-weight: bold;
        }
      }
    }
  }

  .navBar {
    background-color: #282c34;
    color: #ffffff;
    margin-bottom: 16px;

    nav ul {
      margin: 0 auto;
      padding: 16px 0;
      display: flex;
      width: fit-content;

      li {
        display: flex;

        a {
          background-color: #282c34;
          color: #ffffff;
          font-weight: bold;
          padding: 24px 16px;
          border: 1px solid transparent;

          &.activeLink {
            border: 1px solid white;
          }

          &:hover {
            background-color: #3f4550;
          }
        }
      }
    }
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* Channel Downloader Modal Contents */

.channelDownloaderModalContents {
  & > div,
  & > h2 {
    padding: 16px;
    margin: 0;
  }

  & > div {
    padding: 32px;
  }

  hr {
    margin: 0;
  }

  .channelDownloadSelector {
    display: flex;
    align-items: center;

    .channelDownloadSelectorInput {
      margin: 0 8px;
      padding: 4px;
    }

    .channelDownloadSelectorButton {
      display: inline-block;
      cursor: pointer;
      background-color: green;
      color: white;
      border-radius: 4px;
      padding: 4px 8px;

      &:hover {
        background-color: darkgreen;
      }
    }
  }
}
